.app {
    background-color: #fafafa;
}
.nav{
    height:6rem;
}
.nav-logo {
    height: 4rem;
}
.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.post {
    border: 1px solid #dedcdb;
    flex-basis: calc(33.333% - 2rem);
    margin: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    transition: .2s transform ease-in;
}
.post:hover {
    cursor: pointer;
    filter: opacity(.6);
    transform: translateY(-2px);
}
.post-img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}
.post-description {
    margin-top: 1rem;
}
.post-bottom {
    display: flex;
    padding: 1rem 0;
    color: #514ecc;
}
.post-btn {
    margin-right: 1rem;
}
.post-like-size {
    height: 1.5rem;
}
.post-bubble {
    height: 1.5rem;
}
