.app {
    background-color: #fafafa;
}
a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}
.account-head {
    margin: 0 auto;
    width: 80%;
    align-items: center;
    display: flex;
}
.account-head-img {
    width: 350px;
    text-align: center;
}
.account-img {
    border-radius: 50%;
    margin-right: 20px;
}
.account-name {
    font-size: 30px;
    font-weight: 300;
    margin-right: 20px;
}
.account-postsnum {
    font-weight: 600;
}
.button {
    background-color: #514ecc;
    color: white;
}
.dropzone {
    height: 3rem;
    border: 2px solid #514ecc;
    width: 90%;
    margin: 0 auto;
    border-radius: .5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.dropzone:hover {
    cursor: pointer;
}
.dropzone-text {
    font-size: 1.2rem;
}
.login-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background-color: rgba(255,255,255,.65);
}
.modalz {
    margin: 50px auto;
    z-index: 3000;
    display: block;
    width: 80vw;
    height: 400px;
    background-color: rgb(215,238,237);
    border-radius: 2px;
    text-align:center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .3);
}
.modalz-x {
    margin: 50px;
    float: right;
    font-size: 18px;
}
.modalz-x:hover {
    cursor: pointer;
}
.modalz-header {
    clear: both;
    font-size: 40px;
    margin-top: -20px;
}
.modalz-subhead {
    font-size: 18px;
    margin-bottom: 10px;
}
.modalz-button {
    margin: 20px auto;
}
.modal-tran-enter {
    opacity: 0.01;
}
.modal-tran-enter-active {
    opacity: 1;
    transition: all 300ms ease-out;
}
.modal-tran-exit {
    opacity: 1;
}
.modal-tran-exit-active {
    opacity: 0.01;
    transition: all 300ms ease-out;
}
.preview {
    display: flex;
}
.preview-photo {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
}
.preview-text textarea {
    margin-left: 1rem;
    height: 7rem;
    width: 21rem;
    border-radius: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-right {
    display: flex;
    margin: 2rem;
}
.fb-login-button {
    margin-top: 1.5rem;
}
.nav-item {
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
    transition: all .3s ease-in;
}
.nav-item:hover {
    cursor: pointer;
}
.nav-link {
    padding-bottom: 0;
}
.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
.nav-item:hover::after {
    width: 100%;
    cursor: pointer;
}
.nav-logo {
    height: 4rem;
    margin: 2rem;
}
.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.post {
    border: 1px solid #dedcdb;
    flex-basis: calc(33.333% - 2rem);
    margin: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    transition: .2s transform ease-in;
}
.post a {
    text-decoration: none;
    color: black;
}
.post:hover {
    cursor: pointer;
    filter: opacity(.6);
    transform: translateY(-2px);
}
.post-img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}
.post-description {
    margin-top: 1rem;
}
.post-bottom {
    display: flex;
    padding: 1rem 0;
    color: #514ecc;
}
.post-btn {
    margin-right: 1rem;
}
.post-like-size {
    height: 1.5rem;
}
.post-bubble {
    height: 1.5rem;
}
.single {
    display: flex;
    padding-bottom: 10rem;
}
.single-left {
    width:60%;
}
.single hr {
    width: 60%;
    margin-left: 0;
}
.single-right {
    width:35%;
}
.single-image {
    width: 90%;
}
.single-user-image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.single-like-size {
    height: 2rem;
}
.single-like-size:hover {
    cursor: pointer;
}
.single-username {
    font-weight: 600;
}
.single-comment-outer {
    overflow: auto;
    height: 17rem;
    padding-right: 5px;
}
.single-commentsec {
    margin: 3px;
}
